html,
body {
	margin: 0;
	padding: 0;
	background: #169990;
}

.jumbotron {
	background-color: #169990 !important;
}

.btn-primary {
	background-color: #169990 !important;
	border-color: #169990 !important;
}