@font-face {
  font-family: "untitled-font-5";
  src:url("../fonts/fonts/untitled-font-5.eot");
  src:url("../fonts/fonts/untitled-font-5.eot?#iefix") format("embedded-opentype"),
    url("../fonts/fonts/untitled-font-5.woff") format("woff"),
    url("../fonts/fonts/untitled-font-5.ttf") format("truetype"),
    url("../fonts/fonts/untitled-font-5.svg#untitled-font-5") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-5" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-5" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-brightness-down:before {
  content: "\61";
}
.icon-brightness-up:before {
  content: "\62";
}

.flip-book {
  position: relative;
  height: 100%;
}

.flip-book .view {
  position: relative;
  height: 100%;
}

 .flip-book .view canvas {
    margin-top: -2%;
  }

.flip-book .view .fnav {
}

.flip-book .view .prev, .flip-book .view .next {
  position: absolute;
  top: 50%;.flip-book {
  position: relative;
  height: 100%;
}

.flip-book .view {
  position: relative;
  height: 100%;
}

.flip-book .view canvas {
  margin: -45px auto;
}

.flip-book .view .fnav {
}

.flip-book .view .prev, .flip-book .view .next {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
}

.flip-book .view .prev {
  left: 20px;
}

.flip-book .view .next {
  right: 20px;
}


.flip-book .view .fnav a {
  font-size: 72pt;
  color: #ccc;
}

.flip-book .view .fnav a:hover {
  cursor: pointer;
  text-shadow: 0 0 7px #fff;
}

.flip-book .view .fnav a:active {
  font-size: 70pt;
}

.flip-book .view .fnav .hidden {
  display: none;
}

.flip-book .view .fnav .active {
  color: #ddd;
}

.flip-book .view .fnav .disabled {
  color: #888;
}

.flip-book .view .fnav .disabled:hover {
  cursor: not-allowed;
  text-shadow: none;
}

.flip-book .view .loading-progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flip-book .view .loading-progress.hidden {
  display: none;
}

.flip-book .loading-progress .progress {
  background-color: #eee;
  background-image: none;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 30px;
  padding: 5px;
  box-shadow: 0px 0px 3px #fff;
  margin-bottom: 10px;
}

.flip-book .loading-progress .progress::after {
  content: ' ';
  display: block;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-image: url('../images/dark-loader.gif');
}

.flip-book .page-loading {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.flip-book .page-loading.hidden {
  display: none;
}

.flip-book .page-loading::after {
  content: ' ';
  display: block;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-image: url('../images/dark-loader.gif');
}

.flip-book .loading-progress .caption {
  background-color: #eee;
  border: 1px solid #fff;
  padding: 7px 10px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 10pt;
  border-radius: 5px;
  font-style: italic;
  color: #111;
}

.flip-book .controls {
  position: relative;
}

.flip-book .controls .ctrl {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: absolute;
  bottom: 10px;
}
.ctrl ul {
  margin: 0;
  padding: 0;
}

.ctrl .pages {
  padding: 8px 10px;
  display: flex;
  font-size: 0;
}

.ctrl .pages .number, .ctrl .pages .amount {
  width: 50px;
  height: 20px;
  text-align: center;
  display: inline-block;
  font-size: 11pt;
  border: 0;
  color: #fff;
  background-color: #444;
  font-weight: bold;
  border-radius: 0;
  margin: 0;
  padding: 2px;
}

.ctrl .pages .number {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #000;
}

.ctrl .pages .amount {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* toc */

.ctrl .toc {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.ctrl .toc a {
  text-decoration: none;
}

.ctrl .toc .hidden {
  display: none;
}

.ctrl .toc .toc-menu {
  padding: 10px 0 0;
  height: 35px;
}

.ctrl .toc .toc-menu ul {
  list-style: none;
  padding: 0;
}
.ctrl .toc .toc-menu li {
  float: left;
}
.ctrl .toc .toc-menu a {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 46px;
  font-family: roboto-condesed-regular, arial, sans-serif;
  background: #9DDAD6;
  color: #007563;

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.ctrl .toc .toc-menu a:hover {
  color: #fff;
  background: #007563;
}
.ctrl .toc .toc-menu a:active {
  text-shadow: 0 0 1px rgba(0,0,0,0.3);
}
.ctrl .toc .toc-menu .active a {
  color: #fff;
  background: #007563;
}

.ctrl .toc .toc-view {
  padding: 10px 0;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.ctrl .toc .toc-view::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.ctrl .toc .toc-view::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.ctrl .toc .toc-view::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 2px;
}
.ctrl .toc .toc-view::-webkit-scrollbar-thumb:hover {
  background: #ddd;
}
.ctrl .toc .toc-view::-webkit-scrollbar-thumb:active {
  background: #bbb;
}
.ctrl .toc .toc-view::-webkit-scrollbar-track {
  background: #eee;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

.ctrl .bookmarks .white-space, .ctrl .bookmarks .togle, .ctrl .bookmarks .togle i {
  width: 18px;
  height: 18px;
}

.ctrl .bookmarks .white-space {
  display: inline-block;
}

.ctrl .bookmarks li {
  width: 10000px;
}

.ctrl .bookmarks .item .area {
  padding: 2px 0;
}

.ctrl .bookmarks .level-0 .area {
  padding-left: 5px;
}
.ctrl .bookmarks .level-1 .area {
  padding-left: 10px;
}
.ctrl .bookmarks .level-2 .area {
  padding-left: 15px;
}
.ctrl .bookmarks .level-3 .area {
  padding-left: 20px;
}
.ctrl .bookmarks .level-4 .area {
  padding-left: 25px;
}

.ctrl .bookmarks .item .area:hover {
  background-color: #eee;
}

.ctrl .bookmarks .item .area:active {
  background-color: #e0e0e0;
}

.ctrl .bookmarks .item a {
  color: #000;
  font-size: 14px;
}

.ctrl .bookmarks ul {
  list-style: none;
  padding: 0;
}

.ctrl .bookmarks .togle {
  display: inline-block;
  text-align: center;
  position: relative;
}

.ctrl .bookmarks .togle::before {
  content: ' ';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 0px solid #f5f5f5;
  transition: border 0.2s;
}

.ctrl .bookmarks .togle:active::before {
  border: 12px solid #f5f5f5;
  transition: border 0.05s;
}

.ctrl .bookmarks .togle i {
  transform: rotateZ(0deg);
  transition: transform 0.2s;
}

.ctrl .bookmarks .togle.minimized i {
  transform: rotateZ(90deg);
  transition: transform 0.2s;
}

.ctrl .thumbnails .item a {
  font-size: 20px;
  color: #169990;
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
}

.ctrl .thumbnails {
  padding: 10px 0px 0 5px;
}
.ctrl .thumbnails .thumbnail {
  height: 146px;
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #169990;
  border-bottom: 4px solid #169990;
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
}

.ctrl .thumbnails .thumbnail:hover {
  border: 1px solid #9DDAD6;
  border-bottom: 4px solid #9DDAD6;
}

.ctrl .thumbnails .loading {
  position: relative;
}
.ctrl .thumbnails .loading::after {
  content: ' ';
  position: absolute;
  width: 40px;
  height: 40px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-size: contain;
  background-image: url('../images/dark-loader.gif');
}
.ctrl .thumbnails .item {
  display: inline-block;
  width: 94px;
  border-radius: 3px;
  position: relative;
  margin: 10px 24px;

  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
}

.ctrl .thumbnails .item:hover {
  background-color: #9DDAD6;
}
.ctrl .thumbnails .heading {
  overflow: hidden;
  font-family: roboto-condesed-regular, arial, sans-serif;
  color: #169990;
  font-weight: bold;
  position: absolute;
  top: -5px;
  text-align: right;
  left: -25px;
  width: 19px;
}


.ctrl .search .result {
    padding: 12px;
    cursor: pointer;
    border: 1px solid #169990;
    border-left: 4px solid #169990;
    margin: 10px;
    line-height: 1.3em;
    font-family: roboto-condesed-regular, arial, sans-serif;
}

.ctrl .search .result:hover {
  background-color: #9DDAD6;
}

.ctrl .search .results a {
  color: #000;
  font-size: 14px;
}

.ctrl .search .query {
  padding: 0 10px;
  padding-bottom: 10px;
}

.ctrl .search .query input {
  position: fixed;
  width: 100%;
  max-width: 270px;
  border: 1px solid #169990;
  padding: 10px 35px 10px 15px;
  font-family: roboto-condesed-regular, arial, sans-serif;
  font-size: 1em;
  background: #fff url(../public/images/busca-icon.png) no-repeat 238px 12px;
}

.ctrl .search .status {
  text-align: center;
  color: #333;
  display: block;
  margin: 15px 15px 5px;
  font-family: roboto-condesed-regular, arial, sans-serif;
  font-size: 0.9em;
  font-weight: bold;
}
  transform: translate(0, -50%);
  z-index: 1;
}

.flip-book .view .prev {
  left: 20px;
}

.flip-book .view .next {
  right: 20px;
}


.flip-book .view .fnav a {
  font-size: 72pt;
  color: #ccc;
}

.flip-book .view .fnav a:hover {
  cursor: pointer;
  text-shadow: 0 0 7px #fff;
}

.flip-book .view .fnav a:active {
  font-size: 70pt;
}

.flip-book .view .fnav .hidden {
  display: none;
}

.flip-book .view .fnav .active {
  color: #ddd;
}

.flip-book .view .fnav .disabled {
  color: #888;
}

.flip-book .view .fnav .disabled:hover {
  cursor: not-allowed;
  text-shadow: none;
}

.flip-book .view .loading-progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flip-book .view .loading-progress.hidden {
  display: none;
}

.flip-book .loading-progress .progress {
  background-color: #eee;
  background-image: none;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 30px;
  padding: 5px;
  box-shadow: 0px 0px 3px #fff;
  margin-bottom: 10px;
}

.flip-book .loading-progress .progress::after {
  content: ' ';
  display: block;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-image: url('../images/dark-loader.gif');
}

.flip-book .page-loading {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.flip-book .page-loading.hidden {
  display: none;
}

.flip-book .page-loading::after {
  content: ' ';
  display: block;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-image: url('../images/dark-loader.gif');
}

.flip-book .loading-progress .caption {
  background-color: #eee;
  border: 1px solid #fff;
  padding: 7px 10px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 10pt;
  border-radius: 5px;
  font-style: italic;
  color: #111;
}

.flip-book .controls {
  position: relative;
}

.flip-book .controls .fnavbar {
  margin: 0 auto;
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out 0.5s;
}

.flip-book .controls .fnavbar:hover {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.flip-book .controls .ctrl {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: absolute;
  bottom: 10px;
}
.ctrl ul {
  margin: 0;
  padding: 0;
}
.ctrl .fnavbar {
  padding: 5px 16px 0;
  overflow: visible;
  background-color: #ffffff;
  border-bottom: 4px solid #169990;
}

.ctrl .fnavbar a {
  text-decoration: none;
  font-size: 14px;
}
.ctrl .fnavbar .fnav {
  font-size: 0;
  display: flex;
  text-align: left;
}

.ctrl .fnavbar .fnav li{
  font-size: 12pt;
  margin: 0;
  width: auto;
  padding: 0 3px;
}

/* CELULAR - Portrait and Landscape */
@media only screen
and (min-device-width: 300px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {

  .ctrl .fnavbar .fnav {
    font-size: 0;
    display: block;
    text-align: center;
    width: 366px;
    padding: 0 32px;
  }

  .flip-book .controls .fnavbar {
    opacity: 1;
  }

  .fa-download {
    padding: 0 0 0 15px !important;
  }

  .fa-bookmark, .fa-arrows-alt {
    padding: 0 10px 0 5px !important;
  }
}

.cmdDefaultZoom .ctrl .fnavbar .fnav .fnav-item>a {
  padding-right: 0;
}

.fa-compress {
  padding-right: 32px;
  border-right: 1px solid #DADADA;
}

.fa-bookmark,
.fa-arrows-alt {
  padding: 0 32px 0 12px;
  border-right: 1px solid #DADADA;
}

.fa-print {
  padding: 0 32px 0 32px;
  border-right: 1px solid #DADADA;
  border-left: 1px solid #DADADA;
}

.fa-download {
  padding: 0 0 0 32px;
  border-left: 1px solid #DADADA;
}

.ctrl .fnavbar .fnav .fnav-item {
  display: inline-block;
}

.ctrl .fnavbar .fnav .hidden {
  display: none;
}

.ctrl .fnavbar .fnav .fnav-item>a {
  padding: 10px;
  display: inline-block;
  color: #169990;
  font-size: 1.1em;
}

.ctrl .fnavbar .fnav>.active>a {
  color: #000;
}

.ctrl .fnavbar .fnav .fnav-item>a:hover {
  color: #000;
  cursor: pointer;
}

.ctrl .fnavbar .fnav .fnav-item>a:active {
  text-shadow: 0 0 1px #000;
}
.ctrl .fnavbar .fnav>.disabled>a {
  color: #9DDAD6;
}
.ctrl .fnavbar .fnav>.disabled>a:hover {
  color: #aaa;
  cursor: not-allowed;
}
.ctrl .fnavbar .fnav>.active {
  background: #fff;
}

.ctrl .fnavbar .fnav .dropdown, .ctrl .fnavbar .fnav .dropup {
  position: relative;
}
.ctrl .fnavbar .fnav .dropdown .menu {
  top: 100%;
  right: 0;
  box-shadow: 3px 0 3px #ddd;
}
.ctrl .fnavbar .fnav .icon-caret {
  width: 26px;
  display: inline-block;
}
.ctrl .fnavbar .fnav .dropdown .caret {
  display: inline-block;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #777;
}
.ctrl .fnavbar .fnav .dropup .menu {
  bottom: 100%;
  box-shadow: 3px 0 3px #ddd;
}
.ctrl .fnavbar .fnav .dropup .caret {
  display: inline-block;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #777;
}
.ctrl .fnavbar .menu {
  position: absolute;
  border: 1px solid #ddd;
  background-color: #fff;
  z-index: 10;
  min-width: 160px;
  right: 0;
}
.ctrl .fnavbar .menu li {
  display: block;
  padding: 5px 10px;
}
.ctrl .fnavbar .menu .divider {
  height: 1px;
  background-color: #ddd;
  padding: 0;
  margin: 5px 0;
}
.ctrl .fnavbar .menu .active {
  background-color: #e0e0e0;
}
.ctrl .fnavbar .menu .active:hover {
  /*background-color: #e0e0e0;*/
}
.ctrl .fnavbar .menu li:hover {
  background-color: #eee;
  cursor: pointer;
}
.ctrl .fnavbar .menu li a {
  color: #000;
}
.ctrl .fnavbar .menu .disabled a {
  color: #777;
  cursor: not-allowed;
}

.ctrl .fnavbar .menu .icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  text-align: center;
}

.ctrl .pages {
  padding: 8px 10px;
  display: flex;
  font-size: 0;
}

.ctrl .pages .number, .ctrl .pages .amount {
  width: 50px;
  height: 20px;
  text-align: center;
  display: inline-block;
  font-size: 11pt;
  border: 0;
  color: #fff;
  background-color: #9DDAD6;
  font-weight: bold;
  border-radius: 0;
  margin: 0;
  padding: 2px;
}

.ctrl .pages .number {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #169990;
}

.ctrl .pages .amount {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*************************
	WEBFONTS
*********/
@font-face {
  font-family: 'roboto-condesed-regular';
  src: url('../fonts/roboto-condensed-normal/robotocondensed-regular-webfont.woff2') format('woff2'),
  url('../fonts/roboto-condensed-normal/robotocondensed-regular-webfont.woff') format('woff'),
  url('../fonts/roboto-condensed-normal/RobotoCondensed-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
/*************************/

/* floating window */

.flip-book .float-wnd {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 5px 5px 0 0;
  background-color: #fff;
  width: 300px;
  z-index: 1;
}

.flip-book .float-wnd.hidden {
  display: none;
}

.flip-book .float-wnd .header {
  border-radius: 4px 4px 0 0;
  padding: 7px 10px;
  border: 1px solid #ddd;
  border-bottom: none;
  cursor: move;
  background-color: #169990;
  color: #fff;
  font-family: roboto-condesed-regular, arial, sans-serif;
  padding: 10px 15px;
  font-size: 1.3em;
}

.flip-book .float-wnd .header .close {
  top: 5px;
  right: 8px;
  font-size: 20px;
  position: absolute;
  color: #fff;
  padding: 8px;
}

.flip-book .float-wnd .header .close:hover {
  color: #000;
}
.flip-book .float-wnd .header .close:active {
  font-size: 20px;
  padding-top: 1px;
  padding-right: 1px;
}

.flip-book .float-wnd .body {
  border: 1px solid #ddd;
  border-top: none;
}

/* toc */

.ctrl .toc {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.ctrl .toc a {
  text-decoration: none;
}

.ctrl .toc .hidden {
  display: none;
}

.ctrl .toc .toc-menu {
  padding: 10px 0 0;
  height: 35px;
}

.ctrl .toc .toc-menu ul {
  list-style: none;
  padding: 0;
}
.ctrl .toc .toc-menu li {
  float: left;
}
.ctrl .toc .toc-menu a {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 46px;
  font-family: roboto-condesed-regular, arial, sans-serif;
  background: #9DDAD6;
  color: #007563;

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.ctrl .toc .toc-menu a:hover {
  color: #fff;
  background: #007563;
}
.ctrl .toc .toc-menu a:active {
  text-shadow: 0 0 1px rgba(0,0,0,0.3);
}
.ctrl .toc .toc-menu .active a {
  color: #fff;
  background: #007563;
}

.ctrl .toc .toc-view {
  padding: 10px 0;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.ctrl .toc .toc-view::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.ctrl .toc .toc-view::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.ctrl .toc .toc-view::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 2px;
}
.ctrl .toc .toc-view::-webkit-scrollbar-thumb:hover {
  background: #ddd;
}
.ctrl .toc .toc-view::-webkit-scrollbar-thumb:active {
  background: #bbb;
}
.ctrl .toc .toc-view::-webkit-scrollbar-track {
  background: #eee;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

.ctrl .bookmarks .white-space, .ctrl .bookmarks .togle, .ctrl .bookmarks .togle i {
  width: 18px;
  height: 18px;
}

.ctrl .bookmarks .white-space {
  display: inline-block;
}

.ctrl .bookmarks li {
  width: 10000px;
}

.ctrl .bookmarks .item .area {
  padding: 2px 0;
}

.ctrl .bookmarks .level-0 .area {
  padding-left: 5px;
}
.ctrl .bookmarks .level-1 .area {
  padding-left: 10px;
}
.ctrl .bookmarks .level-2 .area {
  padding-left: 15px;
}
.ctrl .bookmarks .level-3 .area {
  padding-left: 20px;
}
.ctrl .bookmarks .level-4 .area {
  padding-left: 25px;
}

.ctrl .bookmarks .item .area:hover {
  background-color: #eee;
}

.ctrl .bookmarks .item .area:active {
  background-color: #e0e0e0;
}

.ctrl .bookmarks .item a {
  color: #000;
  font-size: 14px;
}

.ctrl .bookmarks ul {
  list-style: none;
  padding: 0;
}

.ctrl .bookmarks .togle {
  display: inline-block;
  text-align: center;
  position: relative;
}

.ctrl .bookmarks .togle::before {
  content: ' ';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 0px solid #f5f5f5;
  transition: border 0.2s;
}

.ctrl .bookmarks .togle:active::before {
  border: 12px solid #f5f5f5;
  transition: border 0.05s;
}

.ctrl .bookmarks .togle i {
  transform: rotateZ(0deg);
  transition: transform 0.2s;
}

.ctrl .bookmarks .togle.minimized i {
  transform: rotateZ(90deg);
  transition: transform 0.2s;
}

.ctrl .thumbnails .item a {
  font-size: 20px;
  color: #169990;
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
}

.ctrl .thumbnails {
  padding: 10px 0px 0 5px;
}
.ctrl .thumbnails .thumbnail {
  height: 146px;
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #169990;
  border-bottom: 4px solid #169990;
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
}

.ctrl .thumbnails .thumbnail:hover {
  border: 1px solid #9DDAD6;
  border-bottom: 4px solid #9DDAD6;
}

.ctrl .thumbnails .loading {
  position: relative;
}
.ctrl .thumbnails .loading::after {
  content: ' ';
  position: absolute;
  width: 40px;
  height: 40px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-size: contain;
  background-image: url('../images/dark-loader.gif');
}
.ctrl .thumbnails .item {
  display: inline-block;
  width: 94px;
  border-radius: 3px;
  position: relative;
  margin: 10px 24px;

  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
}

.ctrl .thumbnails .item:hover {
  background-color: #9DDAD6;
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
}

.ctrl .thumbnails .heading {
  overflow: hidden;
  font-family: roboto-condesed-regular, arial, sans-serif;
  color: #169990;
  font-weight: bold;
  position: absolute;
  top: -5px;
  text-align: right;
  left: -25px;
  width: 19px;
}


.ctrl .search .result {
  padding: 12px;
  cursor: pointer;
  border: 1px solid #169990;
  border-left: 4px solid #169990;
  margin: 10px;
  line-height: 1.3em;
  font-family: roboto-condesed-regular, arial, sans-serif;
}

.ctrl .search .result:hover {
  background-color: #9DDAD6;
}

.ctrl .search .results a {
  color: #000;
  font-size: 14px;
}

.ctrl .search .result div {
  margin: 5px 0;
}

.ctrl .search .query {
  padding: 20px;
  height: 22px;
  padding-left: 10px;

}

.ctrl .search .query input {
  position: fixed;
  width: 100%;
  max-width: 270px;
  border: 1px solid #169990;
  padding: 10px 35px 10px 15px;
  font-family: roboto-condesed-regular, arial, sans-serif;
  font-size: 1em;
  background: #fff url(../public/images/busca-icon.png) no-repeat 238px 12px;
}

.ctrl .search .status {
  text-align: center;
  color: #333;
  display: block;
  margin: 15px 15px 5px;
  font-family: roboto-condesed-regular, arial, sans-serif;
  font-size: 0.9em;
  font-weight: bold;
}

/* CELULAR - Portrait and Landscape */
@media only screen
and (min-width: 320px)
and (max-width: 767px) {  

  .cmdZoomIn,
  .cmdZoomOut,
  .widSettings {
    display: none !important;
  }

  .fa-bookmark:last-child, 
  .fa-arrows-alt:last-child {
    border-right: 0;
  }

 .flip-book .view canvas {
    margin-top: -5%;
  }

  .ctrl .fnavbar .fnav .fnav-item>a {
    padding: 10px 5px;
  }

}