/*************************
	WEBSITE BODY
*********/
html{
    min-height: 100vh !important;
    height: 100vh;
}

body{
    min-height:100%;
    height: 100vh;
    padding:0;
    margin:0;
    position:relative;
}

body::after{
    content:'';
    display:block;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.hidden-xs {
  display: none;
}

.close {
  opacity: .5;
}

#flip-book-window .close {
    padding: 10px;
    background: #009992;
    border-radius: 5px;
}

.close:focus, .close:hover {
  opacity: .9;
}

#flip-book-window .close:active {
  padding-top: 10px !important;
  padding-right: 10px !important;
}

/*************************
	WEBFONTS
*********/
@font-face {
  font-family: 'roboto-condesed-regular';
  src: url('../fonts/roboto-condensed-normal/robotocondensed-regular-webfont.woff2') format('woff2'),
  url('../fonts/roboto-condensed-normal/robotocondensed-regular-webfont.woff') format('woff'),
  url('../fonts/roboto-condensed-normal/RobotoCondensed-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

/*************************/

/*************************
	HEADER
*********/

/* LOGO */
.navbar-header img {
  max-width: 100%;
  height: auto;
}

.navbarassinante {
  border-bottom: 1px solid #000;
}

.topbar-menu {
  background-color: #169990;
}

#topnav {
  background-color: #169990;
  position: relative;
  height: 70px;
}

#topnav .navigation-menu > li > a {
  color: rgba(255, 255, 255, 1);
  padding-top: 25px;
  padding-bottom: 25px;
}

#topnav .navigation-menu > li > a:first-child {
  padding-left: 25px;
}

#topnav .navigation-menu > li > a:hover,
#topnav .navigation-menu > li > a:focus,
#topnav .navigation-menu > li > a:active {
  background: #007563;
}

logo-fix {
    height: 27px;
    float: left;
    margin-top: 20px;
}

.btn-pattern {
  background: #169990;
  color: #fff;
  font-family: roboto-condesed-regular, arial, sans-serif;
  padding: 5px 20px;
  transition: background .25s ease-in-out;
  -moz-transition: background .25s ease-in-out;
  -webkit-transition: background .25s ease-in-out;
}

.btn-pattern:hover {
  background: #007563;
  color: #fff;
}

.main-ad {
  margin: 15px 0 30px;
  text-align: center;
}

/*************************
	CONTENT
*********/

/*************************
  LOGIN ASSINANTE V2
*********/

.content-all {
  margin: 0 auto;
  font-family: roboto-condesed-regular, arial, sans-serif;
}

.experimente-content-left {
  display: inline-block;
  width: 70%;
  padding: 50px;
}

.experimente-content-left__logo {
  display: inline-block;
  width: 50%;
  text-align: left;
}

.experimente-content-left__login {
  text-align: right;
  float: right;
  line-height: 3em;
}

.experimente-content-left__login-btn {
    border: 1px solid #009992;
    border-radius: 4px;
    color: #009992;
    padding: 10px 40px;
    text-transform: uppercase;
    font-size: 1.1rem;

    transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
}

.experimente-content-left__login-btn:hover {
  background: #009992;
  color: #fff;
}

.experimente-content-left__experimente {
  display: block;
  width: 680px;
  margin: 0 auto;
  position: relative;
}

.experimente-content-left__experimente--vertical-align {
  width: 680px;
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
}

.experimente-content-left__title {
  color: #009992;
  font-size: 2.2rem;
  text-transform: uppercase;
}

.experimente-content-left__title:after {
  background-color: #009992;
  content: " ";
  height: 4px;
  margin-top: 32px;
  width: 100px;
  display: block;
}

.experimente-content-left__text {
  color: #3E3E3E;
  font-size: 1.2rem;
  margin: 32px 0;
}

.experimente-content-left__text--orange {
  color: #FF5533;
}

.experimente-content-left__btn {
  background-color: #009992;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  padding: 30px;
  display: block;
  text-transform: uppercase;
  font-size: 1.3rem;

  transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
}

.experimente-content-left__btn:hover {
  color: #fff;
  background-color: #007563;
}

.experimente-content-left__footer {
  color: #3E3E3E;
  font-size: 1rem;
  position: fixed;
  bottom: 50px;
  left: 50px;
}

.experimente-content-left__footer:before {
  content: " ";
  display: block;
  width: 400px;
  height: 1px;
  background-color: #3E3E3E;
  margin-bottom: 8px;
}

.experimente-content-left__footer--orange {
  color: #FF5533;
}

.experimente-content-left__footer a {
  color: #FF5533;
}

.experimente-content-right {
  float: right;
  width: 30%;
  height: 100vh;
}

.carousel-item__image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  border-bottom-left-radius: 200px;
}

.carousel-item {
  height: 100vh;
}

.carousel-item__experimente--vertical-align {
  width: 100%;
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
}

.carousel-item__bg {
  border-bottom-left-radius: 200px;
}

.carousel-item__bg--1 { 
  background: url('../images/bg-clube-dd.jpg') center;
  background-size: cover;
}

.carousel-item__bg--2 { 
  background: url('../images/bg-acesso-total.jpg') center;
  background-size: cover;
}

.carousel-item__bg--3 { 
  background: url('../images/bg-entrega.jpg') center;
  background-size: cover;
}

.carousel-item__bg--4 { 
  background: url('../images/bg-agenda.jpg') center;
  background-size: cover;
}

.carousel-item__bg--5 { 
  background: url('../images/bg-download.jpg') center;
  background-size: cover;
}

.carousel-item__bg--6 { 
  background: url('../images/bg-acervo.jpg') center;
  background-size: cover;
}

.carousel-item__caption {
  color: #fff;
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

.carousel-item__caption--title {
  font-size: 1.6rem;
  margin: 16px 0;
  padding: 0;
  text-transform: uppercase;
}

.carousel-item__caption--descriprion {
  font-size: 1.3em;
}

.login-content-right {
  float: right;
  display: inline-block;
}

.login-content-left {
  float: left;
  display: inline-block;
}

.login__back {
  color: #3E3E3E;
}

.login__back:hover {
  color: #009992;
}

.login-content-left__experimente {
  width: 450px;
}

.login-content-left__experimente--vertical-align {
  width: 450px;
}

.login__form {
    border-color: #8B8B8B !important;
    padding: 30px 25px !important;
    text-transform: uppercase;
}

.login__label {
  margin-top: 16px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: normal !important;
}

.login__btnlogin {
  width: 100%;
  padding: 25px;
  border: 0;
}

.login__carousel-item--bg {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 200px;
}

.login-content-left__footer {
  left: 32%;
}

.logo-slider {
  position: absolute;
  z-index: 99;
  top: 50px;
  left: 50px;
}

/*************************
  LISTAGEM DOS CLASSIFICADOS
*********/

/** SELECIONAR PERIODO **/

.marginrow {
  margin-left: 0;
  margin-right: 0;
}

.periodselect {
  background: #F3F3F3;
  padding: 8px 15px 8px 20px;
  border-radius: 5px;
  float: right;
}

.periodselect__label {
  margin-right: 10px; 
  font-weight: normal;
  font-size: 1.6rem;
  font-family: roboto-condesed-regular, arial, sans-serif;
}

.datarangerform {
  background: none;
  border: 0;
  font-family: roboto-condesed-regular, arial, sans-serif;
  color: #000;
  text-transform: uppercase;
  font-size: 1.2em;
  width: 100px;
  padding-top: 8px;
}

.datarangerform:hover {
  cursor: pointer;
  color: #169990;
}

.periodselect .icondaterange {
  font-size: 0.67em;
  float: right;
  padding: 13px 5px;
}

.periodselect button {
  background: none;
  border: 0;
  color: #000;
  font-size: 1.5em;
  padding: 5px 10px;
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
}

.periodselect button:hover {
  background: #169990;
  color: #fff;
  border: 0;
}

.daterangepicker select.monthselect,
.daterangepicker select.yearselect {
  background: white;
  color: #169990;
  font-size: 1.2em !important;
  border: 1px solid #169990;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: roboto-condesed-regular, arial, sans-serif;
}

.button-removefilter {
  text-align: right;
  margin: 15px -15px;
}

.button-removefilter button {
  background: none;
  color: #169990;
  padding: 0;
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
}

.button-removefilter button:hover {
  color: #EB5757;
}

.menu-edicoes {
  background: #F3F3F3;
  display: inline-block;
  position: relative;
  font-family: roboto-condesed-regular, arial, sans-serif;
  border-radius: 5px;
  width: 79%;
}

.menu-edicoes ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 6rem;
}

.menu-edicoes ul li {
  display: inline-block;
  cursor: pointer;
}

.menu-edicoes ul li a {
  padding: 20px 30px;
  font-size: 1.5rem;
  text-transform: uppercase;
  border-radius: 4px;
  color: #3E3E3E;
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
}

.menu-edicoes ul li a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #169990;
  text-decoration: none;
}

.menu-edicoes ul li a:focus {
  text-decoration: none;
}

.menu-edicoes ul li .active {
  color: #fff;
  background-color: #169990;
}

.menu-edicoes ul li .active:hover {
  background-color: #007563;
}

/** LISTA DE CLASSIFICADOS **/

.classificadoslista {
  margin: 30px 0 15px;
}

.classificadoslista-title {
  font-family: roboto-condesed-regular, arial, sans-serif;
  color: #169990;
  font-size: 2em;
  padding: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.results-wrapper {
  margin-left: 15px;
}

/* TIPO THUMBNAIL */
.thumbnail-style {
  border-bottom: 4px solid #169990;
  padding: 15px;
  -webkit-box-shadow: 0 5px 8px 3px rgba(0,0,0,0.1);
  box-shadow: 0 5px 8px 3px rgba(0,0,0,0.1);
  margin: 15px 0;
  min-height: 390px;
}

.thumbnail-date {
  color: #169990;
  font-family: roboto-condesed-regular, arial, sans-serif;
  text-align: center;
  font-size: 1.3em;
}

.thumbnail-date hr {
  margin: 5px 0;
  border-color: #169990;
}

.thumbnail-date .readmore {
  display: none;
}

.thumbnail-date .readmore a {
  color: #169990;
  font-weight: bold;
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
}

.thumbnail-date .readmore a:hover {
  text-decoration: none;
  color: #000;
}

.thumbnail-style img {
  max-width: 100%;
  min-height: 315px;
  height: auto;
}

.thumbnail-style img:hover {
  cursor: pointer;
}

.capazoom {
  position: relative;
  overflow: hidden; 
  width: 100%;
}
.capazoom img {
  width: 100%;
  height: 315px;
  object-fit: cover;
  object-position: 0 0;

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.capazoom:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*************************
	CADASTRO DE CLASSIFICADOS CONTENT
*********/
.wrapper {
  margin-top: 30px;
}

.load-stop {
  text-align: center;
  width: 100%;
  font-family: roboto-condesed-regular, arial, sans-serif;
}

.load-stop span {
  margin-top: 15px;
  width: 100%;
  text-align: center;
  display: block;
  color: #fff;
  font-size: 2em;
}

.page-title-box {
  text-align: center;
  font-family: roboto-condesed-regular, arial, sans-serif;
}

.card-center-heigh {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-body {
  border-radius: 5px;
  padding: 30px 15px;
}

.page-item.active .page-link {
  background-color: #169990;
  border-color: #169990;
}

.pagination .page-link,
.page-item:first-child .page-link,
.page-item:last-child .page-link {
  background: none;
}

.page-title-box .page-title {
  color: #169990;
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 30px;
}

.form-control {
  border-color: #169990;
  min-height: 50px;
  padding: 11px 15px;
  font-family: Muli,sans-serif;
}

.form-group label {
  color: #373737;
  font-weight: bold;
}

.form-group label {
  padding-left: 0;
}

.col-form-label {
  padding-top: 10px;
  padding-bottom: 4px;
  font-family: Muli,sans-serif;
}

.btn-novocaderno {
  border: 1px solid #169990;
  color: #2D2D2D;
  font-family: Muli,sans-serif;
  border-radius: 5px;
}

.btn-novocaderno:hover {
  background: #169990;
  color: #ffffff;
}

.btn-edicao {
  background: #169990;
  color: #ffffff;
  font-family: roboto-condesed-regular, arial, sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  padding: 10px 35px;
  border-radius: 5px;
}

.btn-edicao:hover {
  background: #007563;
  color: #fff;
}

.remover_campo {
  font-family: roboto-condesed-regular, arial, sans-serif;
  padding-top: 5px;
  color: #c0392b;
}

.remover_campo:hover {
  color: #000;
}

.welcomepage {
  color: #2D2D2D;
  font-family: roboto-condesed-regular, arial, sans-serif;
  margin: 40px auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcomepage h2 {
  font-weight: bold;
  font-size: 2em;
}

.welcomepage span {
  background: #C7E9E7;
}

.welcomepage p {
  font-size: 1.3em;
}

.card-shadow {
  -webkit-box-shadow: 0 4px 10px 5px rgba(0,0,0,0.1);
  box-shadow: 0 4px 10px 5px rgba(0,0,0,0.1);
}

/*************************
	PAGINAÇÃO
*********/
.pagination {
  font-family: roboto-condesed-regular, arial, sans-serif;
  font-size: 1.05em;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span, .pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: #169990;
  border-color: #169990;
  border-radius: 5px;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  background: #169990;
  color: #fff;
  border: 1px solid #169990;
}

.pagination>li>a, .pagination>li>span {
  border: 0;
  margin: 0 5px;
  color: #169990;
  border: 1px solid #169990;
  border-radius: 5px;
  padding: 5px 12px;
  -moz-transition: .25s ease-in-out;
  -webkit-transition:  .25s ease-in-out;
}

.pagination ul li:first-child span,
.pagination>li:last-child>a, .pagination>li:last-child>span,
.pagination>li:first-child>a, .pagination>li:first-child>span {
  border: 0;
  padding: 8px 10px 5px;
}

.pagination>li:last-child>a:hover, .pagination>li:last-child>span,
.pagination>li:first-child>a:hover, .pagination>li:first-child>span {
  background: #169990;
  color: white;
}

/*************************
  WARNING PAGES
*********/

/* 401 */
.warningcontainer {
  width: 500px;
  font-family: roboto-condesed-regular, arial, sans-serif;
  text-align: center;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.warningcontainer h1 {
  color: #169990;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  padding-top: 115px;
}

.warningcontainer span {
  position: relative;
  z-index: 1;
  font-size: 14em;
  font-weight: bold;
  color: #F3F3F3;
}

/*************************
	FOOTER
*********/
footer{
  position:absolute;
  bottom:0;
  width:100%;
  height: 55px;
}

.lisfooter footer {
  position: relative;
  margin-top: 30px;
}

.load-stop{
  position: fixed;
  top: 0;
  width:100%;
  height: 100%;
  background-color: #00000090;
  z-index: 10000;
}

.load-stop div{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 100%;
}

.load-stop div img{
  width:100px;
  height:100px;
}

/*************************
	QUERIES
*********/

/* TABLET - Portrait and Landscape */
/* Portrait */

@media only screen
and (min-width: 768px)
and (max-width: 1366px) {

  .thumbnail-style {
    min-height: 351px;
  }

  .formitem {
    padding: 0 14px;
  }

  .list-style {
    min-height: 114px;
  }

  .list-style .thumbnail-date {
    width: 59%;
    margin-top: 25px;
  }

  .welcomepage {
    left: auto;
    transform: none;
  }

  .loginside {
    padding: 0 25px;
  }

  .loginright {
    padding: 0 25px 0;
  }

  .hidden-sm {
    display: none;
  }

  .loginpage-form .loginpage-phoneinfo {
    position: relative;
    bottom: 0;
    margin-top: 50px;
  }

  .formitem {
    padding: 0 15px;
  }

  .cardlogin-assinante .card {
    margin-bottom: 0;
    padding: 62px 0px;
  }

  .experimente-content-left {
    width: 60%;
    padding: 30px;
  }

  .experimente-content-left__login-btn {
    font-size: 0.9rem;
  }

  .experimente-content-left__experimente--vertical-align {
    width: 44%;
  }

  .experimente-content-left__title {
    font-size: 1.5rem;
  }

  .experimente-content-left__footer {
    width: 50%;
  }

  .experimente-content-left__footer:before {
    width: 180px;
  }

  .experimente-content-right {
    width: 40%;
  }

  .carousel-item__bg {
    border-bottom-left-radius: 100px;
  }

  .login__carousel-item--bg {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 100px;
  }

  .carousel-item__experimente--vertical-align {
    width: 80%;
    transform: translate(12%, -50%);
  }

  .login-content-left__footer {
      left: 45%;
  }

  .menu-edicoes {
    width: 72%;
  }
}

/* Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) {
  .loginside {
      padding: 258px 25px;
  }

  .loginright {
      padding: 227px 25px 0;
  }

  .hidden-sm {
    display: none;
  }

  .loginpage-form .loginpage-phoneinfo {
    position: relative;
    bottom: 0;
  }
}

@media only screen
and (min-width: 1200px)
and (max-width: 1366px) {
  .menu-edicoes {
      width: 76%;
  }
}

/* Landscape - SMALLER IPAD */
@media only screen 
  and (min-width: 768px) 
  and (max-width: 990px) {
  .loginside {
      padding: 130px 25px;
  }

  .loginright {
      padding: 65px 24px 0;
  }

  #vertical {
    top: 0;
    transform: none;
  }

  .menu-edicoes {
    width: 63%;
  }
}

/* CELULAR - Portrait and Landscape */
@media only screen
and (min-width: 320px)
and (max-width: 767px) {

  .navbar-header img {
    max-width: 84%;
  }

  .button-removefilter {
    text-align: left;
    margin: 0 -15px 0 0px;
  }

  .formitem {
    padding: 0;
    border-right: 0;
    height: auto;
  }

  .formitem select {
    width: 85%;
  }

  .menu-edicoes {
    width: 100%;
  }

  .periodselect {
    float: unset;
    margin: 15px 0 0;
  }

  .periodselect__label {
    display: inline-block;
    width: 45px;
    margin-left: 12px;
  }

  .data-smartphone {
    margin-bottom: unset;
    width: 130px;
    display: inline-block;
  }

  .form-group label:hover {
    color: #fff;
  }

  .classificadoslista-title {
    font-size: 1.6em;
  }

  .thumbnail-style {
    min-height: 209px;
  }

  .capazoom img {
    height: 150px;
  }

  .thumbnail-style img {
    min-height: 150px;
  }

  .list-style .thumbnail-date {
    width: 60%;
    margin-right: 7px;
    margin-top: 11px;
  }

  .thumbnail-date hr {
    margin: 2px 0;
  }

  .list-style {
    min-height: 84px;
  }

  .list-style .thumbnail-date {
    margin-top: 18px;
  }

  .list-style .capazoom img {
    height: 70px;
  }

  .list-style .capazoom {
    width: 26%;
    height: 70px;
    margin: 3%;
  }

  .welcomepage {
    left: 0;
    transform: translate(0%, -50%);
    text-align: center;
  }

 .welcomepage img {
  max-width: 40%;
 }

  #vertical {
    top: 0;
    transform: none;
  }

 .loginright .btndegustacao {
  padding: 15px;
  font-size: 1.4em;
 }

 .card-center-heigh {
    left: 20%;
    transform: translate(-13%, -50%);
 }

 .footerlogin {
  text-align: center;
 }

.experimente-content-left {
  display: block;
  width: 100%;
  padding: 30px;
}

.experimente-content-left__title {
  font-size: 1.8rem;
}

.experimente-content-left__login-btn {
  font-size: 0.9rem;
  padding: 10px 20px;
}

.experimente-content-left__experimente {
  margin: 50px auto 0;
  width: 100%;
  position: relative;
}

.experimente-content-left__experimente--vertical-align {
  width: unset;
  position: unset;
  top: 0;
  transform: unset;
}

.experimente-content-right {
  float: unset;
  width: 100%;
  height: 100vh;
}

.carousel-item__bg {
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.carousel-item__experimente--vertical-align {
  transform: translate(0%, -50%);
  width: 100%;
}

.carousel-item__caption {
    margin: 0 auto;
    width: 70%;
}

.experimente-content-left__footer {
  position: unset;
}

.experimente-content-left__footer:before {
  width: 100px;
  margin-top: 40px;
}

.content-all--mobile {
  display: flex;
  flex-direction: column;
}

.login-content-right--mobile {
  order: 1;
}

.login-content-left--mobile {
  order: 2;
}

.logo-slider {
  display: none;
}

.right__experimente--xs {
  line-height: 1rem;
  width: 35%;
  font-size: 0.9rem;
}

}

@media only screen
and (min-width: 1000px) {

  .hidden-lg {
    display: none;
  }

  .loginpage-form .loginpage-phoneinfo {
    position: absolute;
    bottom: 7%;
  }
}

@media only screen
and (min-width: 1920px) {

  .content-all {
    width: 1920px;
  }

}

/*************************/

#modal-wnd .modal-dialog {
  position: relative;
}

#modal-wnd .modal-dialog .close {
  position: absolute;
  right: 10px;
  top: 10px;
}

#modal-wnd .modal-dialog .modal-content {
  padding: 15px;
}

#modal-wnd .modal-content img, .test-img-size img {
  max-width: 90vw;
}

.test-img-size {
  visibility: hidden;
  position: fixed;
}

.doc-image {
  text-align: center;
  margin-bottom: 10px;
}

.doc-image img {
  max-width: 400px;
  max-height: 400px;
}

.doc-image img:hover {
  box-shadow: 0 0 10px 1px #ccc;
  cursor: pointer;
}

.doc-image img:active {
  box-shadow: 0 0 5px 1px #aaa;
  cursor: pointer;
}

/*************************
	NAVIGATION
*********/
.navbar-header {
  width: 100%;
  height: 70px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  position: relative;
}

.navbar-primary {
	background: #FFF;
	border-bottom: 1px solid #4a5661;
}

.navbar-logout {
  position: absolute;
  right: 0;
  top: 16px;
}
.navbar-static-top {
	-webkit-box-shadow: 0 1px 3px rgba(26,26,26,.14), 0 1px 3px rgba(26,26,26,.24);
    -moz-box-shadow: 0 1px 3px rgba(26,26,26,.14),0 1px 3px rgba(26,26,26,.24);
    -ms-box-shadow: 0 1px 3px rgba(26,26,26,.14),0 1px 3px rgba(26,26,26,.24);
    -o-box-shadow: 0 1px 3px rgba(26,26,26,.14),0 1px 3px rgba(26,26,26,.24);
    box-shadow: 0 1px 3px rgba(26,26,26,.14), 0 1px 3px rgba(26,26,26,.24);
    transition: box-shadow .3s ease-in-out;
    -webkit-transition: box-shadow .3s ease-in-out;
    -moz-transition: box-shadow .3s ease-in-out;
    -ms-transition: box-shadow .3s ease-in-out;
    -o-transition: box-shadow .3s ease-in-out;
}

.navbar {
  min-height: 70px;
  margin-bottom: 15px !important;
}

.btn-link {
	color: #169990;
}

.images {
  text-align: center;
}

.images img {
  height: 250px;
}

.image-preview {
  text-align: center;
  margin-bottom: 10px;
}

.image-preview .caption, .books .caption, #modalView .modal-footer {
  font-size: 12pt;
  font-style: italic;
}

.hover-menu {
  position: fixed;
  left: 10px;
  top: 70px;
  display: none;
  max-width: 180px;
}

@media (min-width:1480px) {
  .hover-menu {
    display: block;
  }
}

#modalView .modal-dialog {
  opacity: 0;
}

#modalView .modal-body, #modalView .modal-footer {
  text-align: center;
}


.navbar-nav>li>a.atr-btn {
  padding: 7px;
  margin: 8px;
  border-radius: 4px;
}

.navbar-nav>li>a.atr-btn:active {
  padding: 6px 7px;
  margin-top: 10px;
}

.navbar-nav>.open>a.atr-btn {
  background-image: none;
}

.navbar-nav>.open>a.atr-btn:hover, .navbar-nav>.open>a.atr-btn:focus, .navbar-nav>.open>a.atr-btn:active {
  padding: 6px 7px;
  margin-top: 10px;
}


.navbar-nav>li>a.video>img {
  position: relative;
  top: -1px;
  height: 20px;
  margin-right: 3px;
  opacity: 0.8;
}

.navbar-nav>li:hover>a.video>img {
  opacity: 1;
}

.navbar-nav>li>a.buy {
  box-shadow: 0 2px 0 #6f9a37;
  background-color: #82b440;
  color: #fff;
}

.navbar-nav>li>a.buy:hover, .navbar-nav>li>a.buy:focus, .navbar-nav>li>a.buy:active {
  background-color: #82a81a;
  color: #fff;
}

.navbar-nav>.open>a.buy {
  box-shadow: 0 2px 0 #6f9a37;
  background-color: #82b440;
  color: #fff;
}

.navbar-nav>.open>a.buy:hover, .navbar-nav>.open>a.buy:focus, .navbar-nav>.open>a.buy:active {
  background-color: #82a81a;
  color: #fff;
}


.navbar-nav>li>a.download {
  box-shadow: 0 2px 0 #335697;
  background-color: #337ab7;
  color: #fff;
}

.navbar-nav>li>a.download:hover, .navbar-nav>li>a.download:focus, .navbar-nav>li>a.download:active {
  background-color: #3368a5;
  color: #fff;
}

.navbar-nav>.open>a.download {
  box-shadow: 0 2px 0 #335697;
  background-color: #337ab7;
  color: #fff;
}

.navbar-nav>.open>a.download:hover, .navbar-nav>.open>a.download:focus, .navbar-nav>.open>a.download:active {
  background-color: #3368a5;
  color: #fff;
}

.profile-dropdown {
    width: auto !important;
}

.dropdown-menu .dropdown-item,
.dropdown-menu .dropdown-item i,
.dropdown-menu .dropdown-item:hover {
  color: #8e99a2 !important;
}


p {
	font-size: 12pt;
}

.no-indent {
  text-indent: 0;
}

.file, .path {
  font-style: italic;
}

.author span {
  font-weight: bold;
}

.libs span {
  font-weight: bold;
}

h1 {
  font-size: 18pt;
}

h2 {
  font-size: 16pt;
}

h3 {
  font-size: 18px;
}

body {
  margin: 0;
  position: relative;
}

body .navbar {
  margin-bottom: 0;
}

/*************************
	FLIPBOOK STYLE
*********/

#flip-book-window .modal-content {
  height: 100%;
  background-image: url('../images/texture.jpg');
}

#flip-book-window .close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  font-size: 16pt;
  color: #fff;
}

#flip-book-window .close:active {
  padding-top: 2px;
  padding-right:2px;
  font-size: 14pt;
}

#flip-book-window .modal-body {
  height: 100%;
}

#flip-book-window .modal-body .mount-node {
  width: 100%;
  height: 100%;
}

#flip-book-window .modal-body .mount-node.fullscreen {
  background-image: url('../images/texture.jpg');
}

/*.mount-node {
  width: 100%;
  height: 100%;
  background-color: red;
}*/

#flip-book-window .modal-dialog {
  width: 98%;
  height: 98%;
  margin: 0.5% auto;
}

.books {
  text-align: center;
}

.books .thumb {
  display: inline-block;
  padding: 3px;
  margin: 0 3px;
  max-width: 300px;
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #ddd;
  vertical-align: top;
}

.books .caption {
    margin-top: 5px;
}

.books img {
  height: 300px;
  padding: 0;
  margin: 0;
}

.books img:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.books h2 {
  text-align: left;
}

.video {
  padding-top: 20px;
}

.video .row {
  margin-bottom: 20px;
}

.video .wrap {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
}

.video .wrap iframe {
  border-width: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content {
  padding: 0 20px;
}

.sample-container {
  height: 85vh;
  background-color: #eee;
  border-radius: 5px;
  padding: 3px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.sample-container>div {
  height: 100%;
  width: 100%;
}

.source-link {
  padding-top: 20px;
  text-align: right;
}

.relative {
  position: relative;
}

.message {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

.copyright {
  padding: 10px;
  text-align: center;
}

.copyright .author {
  font-style: italic;
  font-weight: bold;
}

.copyright .sign {
  font-weight: bold;
}



.fb3d .wrap {
  display: inline-block;
  position: relative;
}

.fb3d .table {
  height: 100%;
  width: 100%;
  display: table;
}

.fb3d .cell {
  display: table-cell;
  vertical-align: middle;
}

.fb3d .play {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  text-align: center;
}

.fb3d .gif-preview {
  text-align: center;
}

.fb3d .shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: #000;
  /*background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
  background-repeat: repeat-x;*/
  opacity: 0.3;
}

.fb3d .play .pbtn {
  height: 100px;
  width: 100px;
  display: inline-block;
  border-radius: 50px;
  background-color: #222;
}

.fb3d .play .pbtn:hover {
  box-shadow: 0 0 20px #000;
  cursor: pointer;
}

.fb3d .play .pbtn:active {
  box-shadow: 0 0 10px #000;
}

.fb3d .play .pbtn::after {
  content: ' ';
  border: 25px solid transparent;
  border-left: 50px solid #EEE;
  display: inline-block;
  position: relative;
  top: 25px;
  left: 20px;
}

.fb3d .play .pbtn:hover::after {
  border-left: 50px solid #FFF;
}

/*Lightbox Effect*/

body::before {
  position: fixed;
  content: ' ';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;

  z-index: -10;
  opacity: 0;
  transition: opacity 0.5s, z-index 0.5s step-end;
}

.fb3d-modal-shadow::before {
  z-index: 10;
  opacity: 0.5;
  transition: opacity 0.5s;
}

.fb3d-modal {
  position: fixed;
  width: 95%;
  height: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5px #fff;

  z-index: -9;
  opacity: 0;
  transition: opacity 0.5s, z-index 0.5s step-end;
}

.fb3d-modal.visible {
  z-index: 11;
  opacity: 1;
  transition: opacity 0.5s;
}

.fb3d-modal::before {
  position: absolute;
  content: ' ';
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
}

.fb3d-modal.light::before {
  background-color: #fff;
}

.fb3d-modal.dark::before {
  background-color: #000;
}

.fb3d-modal .cmd-close {
  font-size: 16pt;
  color: #ccc;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
}

.fb3d-modal.light .cmd-close {
  color: #555;
}

.fb3d-modal .mount-container {
  width: 100%;
  height: 100%;
}

.fb3d-modal .cmd-close:hover {
  font-size: 16pt;
  color: #eee;
}

.fb3d-modal.light .cmd-close:hover {
  color: #111;
}

.fb3d-modal .cmd-close:active {
  font-size: 14pt;
  padding-top: 2px;
  padding-right: 2px;
}

.light .mount-container.fullscreen {
  background-image: url('../images/inverse-texture.jpg');
}

.dark .mount-container.fullscreen {
  background-image: url('../images/texture.jpg');
}