/*************************
	WEBSITE BODY
*********/
html{
    min-height: 100% !important;
    height: 100%;
}

body{
    min-height:100%;
    padding:0;
    margin:0;
    position:relative;
}

body::after{
    content:'';
    display:block;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

/*************************
	WEBFONTS
*********/
@font-face {
  font-family: 'roboto-condesed-regular';
  src: url('../fonts/roboto-condensed-normal/robotocondensed-regular-webfont.woff2') format('woff2'),
  url('../fonts/roboto-condensed-normal/robotocondensed-regular-webfont.woff') format('woff'),
  url('../fonts/roboto-condensed-normal/RobotoCondensed-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
/*************************/

/*************************
	HEADER
*********/

/* LOGO */
.navbar-header img {
  max-width: 100%;
  height: auto;
}

.navbarassinante {
  border-bottom: 1px solid #000;
}

.topbar-menu {
  background-color: #169990;
}

#topnav {
  background-color: #169990;
  position: relative;
  height: 70px;
}

#topnav .navigation-menu > li > a {
  color: rgba(255, 255, 255, 1);
  padding-top: 25px;
  padding-bottom: 25px;
}

#topnav .navigation-menu > li > a:first-child {
  padding-left: 25px;
}

#topnav .navigation-menu > li > a:hover,
#topnav .navigation-menu > li > a:focus,
#topnav .navigation-menu > li > a:active {
  background: #007563;
}

logo-fix {
    height: 27px;
    float: left;
    margin-top: 20px;
}

.btn-pattern {
  background: #169990;
  color: #fff;
  font-family: roboto-condesed-regular, arial, sans-serif;
  padding: 5px 20px;
  transition: background .25s ease-in-out;
  -moz-transition: background .25s ease-in-out;
  -webkit-transition: background .25s ease-in-out;
}

.btn-pattern:hover {
  background: #007563;
  color: #fff;
}

.main-ad {
  margin: 15px 0;
  text-align: center;
}

/*************************
	CONTENT
*********/

/*************************
  LOGIN ASSINANTE
*********/
.loginside {
  color: #fff;
  background: #009992;
  width: 50%;
  height: 100%;
  padding: 0 6.5%;
  position: relative;
  display: inline-block;
  text-align: center;
  font-family: roboto-condesed-regular, arial, sans-serif;
}

#vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.loginside .contentlogin {
  height: 452px;
}

.loginside h2 {
  margin-top: 40px;
}

.loginside p {
  margin-bottom: 40px;
}

.loginside img {
  max-width: 100%;
  height: auto;
}

.loginside input {
  min-height: 80px;
  font-size: 1.3em;
  color: #009992;
  padding: 12px 25px;
  font-family: roboto-condesed-regular, arial, sans-serif;
}

.loginside .form-group {
  text-align: left;
}

.loginside .form-group label {
  color: #fff;
  font-weight: normal;
  font-size: 1.2em;
  text-align: left;
}

.loginside .btn {
  width: 100%;
  border: 1px solid #fff;
  padding: 15px;
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
  height: 80px;
}

.loginside .btn:hover {
  background: #C7E9E7;
  color: #009992;
  border-color: transparent;
}

.loginright {
  color: #000;
  float: right;
  width: 50%;
  height: 100%;
  padding: 0 6.5% 0;
  font-family: roboto-condesed-regular, arial, sans-serif;
}

.loginright h2 {
  color: #009992;
  font-size: 2em;
  margin-bottom: 0;
}

.loginright .description {
  font-size: 1.3em;
  margin-bottom: 25;
}

.loginright h3 {
  color: #009992;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
}

.loginright .argument {
    text-align: center;
}

.loginright .argument img {
  max-width: 100%;
  height: auto;
}

.loginright .btndegustacao {
  color: #fff;
  background-color: #009992;
  padding: 20px;
  width: 100%;
  border-radius: 5px;
  font-size: 1.6em;
  text-align: center;
  text-transform: uppercase;
  margin-top: 25px;
  transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
}

.loginright .btndegustacao:hover {
  background: #C7E9E7;
  color: #009992;
  border-color: transparent;
}

.loginfooter footer {
  display: none;
}

/*************************
  LISTAGEM DOS CLASSIFICADOS
*********/

/** SELECIONAR PERIODO **/

.periodselect {
  width: 100%;
  background: #F3F3F3;
  padding: 10px 15px;
  margin: 15px 0;
  border-radius: 5px;
  min-height: 60px;
}

.periodselect__right {
  float: right;
}

.periodselect-title {
  color: #000;
  font-family: roboto-condesed-regular, arial, sans-serif;
  font-size: 1.23em;
  padding: 8px 0;
}

.datarangerform {
  background: none;
  border: 0;
  font-family: roboto-condesed-regular, arial, sans-serif;
  color: #000;
  text-transform: uppercase;
  font-size: 1.2em;
  width: 170px;
  padding-top: 8px;
}

.datarangerform:hover {
  cursor: pointer;
  color: #169990;
}

.periodselect .icondaterange {
  font-size: 0.67em;
  float: right;
  padding: 13px 5px;
}

.periodselect button {
  background: none;
  border: 0;
  color: #000;
  font-size: 1.5em;
  padding: 5px 10px;
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
}

.periodselect button:hover {
  background: #169990;
  color: #fff;
  border: 0;
}

.daterangepicker select.monthselect,
.daterangepicker select.yearselect {
  background: white;
  color: #169990;
  font-size: 1.2em !important;
  border: 1px solid #169990;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: roboto-condesed-regular, arial, sans-serif;
}

.formitem {
  float: left;
  padding: 0 20px;
  border-right: 1px solid #169990;
  height: 40px;
}

.formitem__last {
  border-right: 0;
  padding-right: 0;
}

.formitem select {
  background: none;
  border: 0;
  font-size: 1.2em;
  width: 170px;
  color: #000;
  margin-top: 7px;
  font-family: roboto-condesed-regular, arial, sans-serif;
}

.formitem select:hover,
.formitem select:focus {
  color: #169990;
  cursor: pointer;
}

/** LISTA DE CLASSIFICADOS **/

.classificadoslista {
  margin: 30px 0 15px;
}

.classificadoslista-title {
  font-family: roboto-condesed-regular, arial, sans-serif;
  color: #169990;
  font-size: 2em;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
}

.classificadoslista-buttons {
  padding: 10px 0;
}

.classificadoslista-buttons ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.classificadoslista-buttons ul li {
  display: inline-block;
}

.classificadoslista-buttons ul li:first-child {
  margin-right: 5px;
}

.classificadoslista-buttons ul li button {
  border: 1px solid #000;
  background: #fff;
  font-size: 1.2em;
  color: #000;
  border-radius: 5px;
  padding: 5px 9px;
  -moz-transition: background .25s ease-in-out;
  -webkit-transition: background .25s ease-in-out;
}

.classificadoslista-buttons ul li button:hover {
  text-decoration: none;
  background: #169990;
  color: #fff;
  border: 1px solid #169990;
}

.classificadoslista-buttons ul li button.selected {
  text-decoration: none;
  background: #169990;
  color: #fff;
  border: 1px solid #169990;
}

/* TIPO THUMBNAIL */
.thumbnail-style {
  border-bottom: 4px solid #169990;
  padding: 15px;
  -webkit-box-shadow: 0 5px 8px 3px rgba(0,0,0,0.1);
  box-shadow: 0 5px 8px 3px rgba(0,0,0,0.1);
  margin: 15px 0;
  min-height: 390px;
}

.thumbnail-date {
  color: #169990;
  font-family: roboto-condesed-regular, arial, sans-serif;
  text-align: center;
  font-size: 1.3em;
}

.thumbnail-date hr {
  margin: 5px 0;
  border-color: #169990;
}

.thumbnail-date .readmore {
  display: none;
}

.thumbnail-date .readmore a {
  color: #169990;
  font-weight: bold;
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
}

.thumbnail-date .readmore a:hover {
  text-decoration: none;
  color: #000;
}

.thumbnail-style img {
  max-width: 100%;
  min-height: 315px;
  height: auto;
}

.thumbnail-style img:hover {
  cursor: pointer;
}

.capazoom {
  position: relative;
  overflow: hidden; 
  width: 100%;
}
.capazoom img {
  width: 100%;
  height: 315px;
  object-fit: cover;
  object-position: 0 0;

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.capazoom:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* TIPO LISTA */
.list-style {
  border-bottom: 4px solid #169990;
  padding: 0;
  -webkit-box-shadow: 0 5px 8px 3px rgba(0,0,0,0.1);
  box-shadow: 0 5px 8px 3px rgba(0,0,0,0.1);
  margin: 15px 0;
  min-height: 135px;
}

.list-style .capazoom {
  width: 26%;
  height: 111px;
  margin: 3%;
  display: inline-block;
}

.list-style .thumbnail-date {
  float: right;
  width: 60%;
  margin-right: 15px;
  margin-top: 35px;
  color: #000;
  border-color: #000;
}

.list-style .thumbnail-date .readmore {
  display: block;
}

.list-style img {
  max-width: 100%;
  height: 118px;
  object-fit: cover;
}

.flip-book .controls .fnavbar {
  overflow-x: scroll;
}

/*************************
	CADASTRO DE CLASSIFICADOS CONTENT
*********/
.page-title-box {
  text-align: center;
  font-family: roboto-condesed-regular, arial, sans-serif;
}

.card-body {
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 10px 5px rgba(0,0,0,0.1);
  box-shadow: 0 4px 10px 5px rgba(0,0,0,0.1);
  padding: 30px 15px;
}

.page-title-box .page-title {
  color: #169990;
  text-transform: uppercase;
  font-size: 2em;
}

.form-control {
  border-color: #169990;
  min-height: 50px;
  padding: 11px 15px;
  font-family: Muli,sans-serif;
}

.form-group label {
  color: #373737;
  font-weight: bold;
}

.form-group label {
  padding-left: 0;
}

.col-form-label {
  padding-top: 10px;
  padding-bottom: 4px;
  font-family: Muli,sans-serif;
}

.btn-novocaderno {
  border: 1px solid #169990;
  color: #2D2D2D;
  font-family: Muli,sans-serif;
  border-radius: 5px;
}

.btn-novocaderno:hover {
  background: #169990;
  color: #ffffff;
}

.btn-edicao {
  background: #169990;
  color: #ffffff;
  font-family: roboto-condesed-regular, arial, sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  padding: 10px 35px;
  border-radius: 5px;
}

.btn-edicao:hover {
  background: #007563;
  color: #fff;
}

.remover_campo {
  font-family: roboto-condesed-regular, arial, sans-serif;
  padding-top: 5px;
  color: #c0392b;
}

.remover_campo:hover {
  color: #000;
}

.welcomepage {
  color: #2D2D2D;
  font-family: roboto-condesed-regular, arial, sans-serif;
  margin: 40px auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcomepage h2 {
  font-weight: bold;
  font-size: 2em;
}

.welcomepage span {
  background: #C7E9E7;
}

.welcomepage p {
  font-size: 1.3em;
}

/*************************
	PAGINAÇÃO
*********/
.pagination {
  font-family: roboto-condesed-regular, arial, sans-serif;
  font-size: 1.05em;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span, .pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: #169990;
  border-color: #169990;
  border-radius: 5px;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  background: #169990;
  color: #fff;
  border: 1px solid #169990;
}

.pagination>li>a, .pagination>li>span {
  border: 0;
  margin: 0 5px;
  color: #169990;
  border: 1px solid #169990;
  border-radius: 5px;
  padding: 5px 12px;
  -moz-transition: .25s ease-in-out;
  -webkit-transition:  .25s ease-in-out;
}

.pagination ul li:first-child span,
.pagination>li:last-child>a, .pagination>li:last-child>span,
.pagination>li:first-child>a, .pagination>li:first-child>span {
  border: 0;
  padding: 8px 10px 5px;
}

/*************************
  WARNING PAGES
*********/

/* 401 */
.warningcontainer {
  width: 500px;
  font-family: roboto-condesed-regular, arial, sans-serif;
  text-align: center;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.warningcontainer h1 {
  color: #169990;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  padding-top: 115px;
}

.warningcontainer span {
  position: relative;
  z-index: 1;
  font-size: 14em;
  font-weight: bold;
  color: #F3F3F3;
}

/*************************
	FOOTER
*********/
footer{
  position:absolute;
  bottom:0;
  width:100%;
  height: 55px;
}

.lisfooter footer {
  position: relative;
  margin-top: 30px;
}

.load-stop{
  position: fixed;
  top: 0;
  width:100%;
  height: 100%;
  background-color: #cacaca90;
  z-index: 10000;
}

.load-stop div{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 100%;
}

.load-stop div img{
  width:100px;
  height:100px;
}

/*************************
	QUERIES
*********/

/* TABLET - Portrait and Landscape */
/* Portrait */

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {

  .thumbnail-style {
    min-height: 351px;
  }

  .periodselect {
    padding: 10px 0px 0 15px;
  }

  .formitem {
    padding: 0 14px;
  }

  .list-style {
    min-height: 114px;
  }

  .list-style .thumbnail-date {
    width: 59%;
    margin-top: 25px;
  }

  .welcomepage {
    left: auto;
    transform: none;
  }

  .loginside {
    padding: 0 25px;
  }

  .loginright {
    padding: 0 25px 0;
  }
}

/* Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
  .loginside {
      padding: 258px 25px;
  }

  .loginright {
      padding: 227px 25px 0;
  }
}

/* Landscape - IPAD */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
  .loginside {
      padding: 130px 25px;
  }

  .loginright {
      padding: 65px 24px 0;
  }

  #vertical {
    top: 0;
    transform: none;
  }
}

/* CELULAR - Portrait and Landscape */
@media only screen
and (min-width: 320px)
and (max-width: 767px) {

  .navbar-header img {
    max-width: 84%;
  }

  .periodselect {
    background: none;
    padding: 0;
    margin: 15px 0 30px;
    min-height: 150px;
  }

  .periodselect .col-xs-12 {
    padding: 0;
  }

  .periodselect .icondaterange {
    float: none;
  }

  .formitem {
    padding: 0;
    border-right: 0;
    height: auto;
  }

  .formitem select {
    width: 85%;
  }

  .periodselect__right {
    float: none;
  }

  .periodselect-mobile {
    width: 100%;
    padding: 0 0 8px;
    border-radius: 5px;
    text-align: center;
    background: #F3F3F3;
    margin-bottom: 15px;
  }

  .periodselect-mobile .form-group {
    margin-bottom: 0;
  }

  .periodselect-mobile__smaller {
    width: 80.6%;
  }

  .periodselect button {
    background: #169990;
    color: #fff;
    margin-left: 15px;
  }

  .form-group label:hover {
    color: #fff;
  }

  .classificadoslista-title {
    font-size: 1.6em;
    padding-top: 13px;
  }

  .thumbnail-style {
    min-height: 209px;
  }

  .capazoom img {
    height: 150px;
  }

  .thumbnail-style img {
    min-height: 150px;
  }

  .thumbnail-date {
    font-size: 1em;
  }

  .list-style .thumbnail-date {
    width: 60%;
    margin-right: 7px;
    margin-top: 11px;
  }

  .thumbnail-date hr {
    margin: 2px 0;
  }

  .list-style {
    min-height: 84px;
  }

  .list-style .thumbnail-date {
    margin-top: 18px;
  }

  .list-style .capazoom img {
    height: 70px;
  }

  .list-style .capazoom {
    width: 26%;
    height: 70px;
    margin: 3%;
  }

  .welcomepage {
    left: 0;
    transform: translate(0%, -50%);
    text-align: center;
  }

 .welcomepage img {
  max-width: 40%;
 }

  #vertical {
    top: 0;
    transform: none;
  }

 .loginside {
    width: 100%;
    height: auto;
    padding: 70px 15px 85px;
 }

 .loginright {
  float: none;
  width: 100%;
  height: auto;
  padding: 30px 15px;
 }

 .loginright .btndegustacao {
  padding: 15px;
  font-size: 1.4em;
 }

}

#modal-wnd .modal-dialog {
  position: relative;
}

#modal-wnd .modal-dialog .close {
  position: absolute;
  right: 10px;
  top: 10px;
}

#modal-wnd .modal-dialog .modal-content {
  padding: 15px;
}

#modal-wnd .modal-content img, .test-img-size img {
  max-width: 90vw;
}

.test-img-size {
  visibility: hidden;
  position: fixed;
}

.doc-image {
  text-align: center;
  margin-bottom: 10px;
}

.doc-image img {
  max-width: 400px;
  max-height: 400px;
}

.doc-image img:hover {
  box-shadow: 0 0 10px 1px #ccc;
  cursor: pointer;
}

.doc-image img:active {
  box-shadow: 0 0 5px 1px #aaa;
  cursor: pointer;
}

/*************************
	NAVIGATION
*********/
.navbar-header {
  width: 100%;
  height: 70px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  position: relative;
}

.navbar-primary {
	background: #FFF;
	border-bottom: 1px solid #4a5661;
}

.navbar-logout {
  position: absolute;
  right: 0;
  top: 16px;
}
.navbar-static-top {
	-webkit-box-shadow: 0 1px 3px rgba(26,26,26,.14), 0 1px 3px rgba(26,26,26,.24);
    -moz-box-shadow: 0 1px 3px rgba(26,26,26,.14),0 1px 3px rgba(26,26,26,.24);
    -ms-box-shadow: 0 1px 3px rgba(26,26,26,.14),0 1px 3px rgba(26,26,26,.24);
    -o-box-shadow: 0 1px 3px rgba(26,26,26,.14),0 1px 3px rgba(26,26,26,.24);
    box-shadow: 0 1px 3px rgba(26,26,26,.14), 0 1px 3px rgba(26,26,26,.24);
    transition: box-shadow .3s ease-in-out;
    -webkit-transition: box-shadow .3s ease-in-out;
    -moz-transition: box-shadow .3s ease-in-out;
    -ms-transition: box-shadow .3s ease-in-out;
    -o-transition: box-shadow .3s ease-in-out;
}

.navbar {
  min-height: 70px;
  margin-bottom: 15px !important;
}

.btn-link {
	color: #169990;
}

.images {
  text-align: center;
}

.images img {
  height: 250px;
}

.image-preview {
  text-align: center;
  margin-bottom: 10px;
}

.image-preview .caption, .books .caption, #modalView .modal-footer {
  font-size: 12pt;
  font-style: italic;
}

.hover-menu {
  position: fixed;
  left: 10px;
  top: 70px;
  display: none;
  max-width: 180px;
}

@media (min-width:1480px) {
  .hover-menu {
    display: block;
  }
}

#modalView .modal-dialog {
  opacity: 0;
}

#modalView .modal-body, #modalView .modal-footer {
  text-align: center;
}


.navbar-nav>li>a.atr-btn {
  padding: 7px;
  margin: 8px;
  border-radius: 4px;
}

.navbar-nav>li>a.atr-btn:active {
  padding: 6px 7px;
  margin-top: 10px;
}

.navbar-nav>.open>a.atr-btn {
  background-image: none;
}

.navbar-nav>.open>a.atr-btn:hover, .navbar-nav>.open>a.atr-btn:focus, .navbar-nav>.open>a.atr-btn:active {
  padding: 6px 7px;
  margin-top: 10px;
}


.navbar-nav>li>a.video>img {
  position: relative;
  top: -1px;
  height: 20px;
  margin-right: 3px;
  opacity: 0.8;
}

.navbar-nav>li:hover>a.video>img {
  opacity: 1;
}

.navbar-nav>li>a.buy {
  box-shadow: 0 2px 0 #6f9a37;
  background-color: #82b440;
  color: #fff;
}

.navbar-nav>li>a.buy:hover, .navbar-nav>li>a.buy:focus, .navbar-nav>li>a.buy:active {
  background-color: #82a81a;
  color: #fff;
}

.navbar-nav>.open>a.buy {
  box-shadow: 0 2px 0 #6f9a37;
  background-color: #82b440;
  color: #fff;
}

.navbar-nav>.open>a.buy:hover, .navbar-nav>.open>a.buy:focus, .navbar-nav>.open>a.buy:active {
  background-color: #82a81a;
  color: #fff;
}


.navbar-nav>li>a.download {
  box-shadow: 0 2px 0 #335697;
  background-color: #337ab7;
  color: #fff;
}

.navbar-nav>li>a.download:hover, .navbar-nav>li>a.download:focus, .navbar-nav>li>a.download:active {
  background-color: #3368a5;
  color: #fff;
}

.navbar-nav>.open>a.download {
  box-shadow: 0 2px 0 #335697;
  background-color: #337ab7;
  color: #fff;
}

.navbar-nav>.open>a.download:hover, .navbar-nav>.open>a.download:focus, .navbar-nav>.open>a.download:active {
  background-color: #3368a5;
  color: #fff;
}

.profile-dropdown {
    width: auto !important;
}

.dropdown-menu .dropdown-item,
.dropdown-menu .dropdown-item i,
.dropdown-menu .dropdown-item:hover {
  color: #8e99a2 !important;
}


p {
	font-size: 12pt;
}

.no-indent {
  text-indent: 0;
}

.file, .path {
  font-style: italic;
}

.author span {
  font-weight: bold;
}

.libs span {
  font-weight: bold;
}

h1 {
  font-size: 18pt;
}

h2 {
  font-size: 16pt;
}

h3 {
  font-size: 18px;
}

body {
  margin: 0;
  position: relative;
}

body .navbar {
  margin-bottom: 0;
}

/*************************
	FLIPBOOK STYLE
*********/

#flip-book-window .modal-content {
  height: 100%;
  background-image: url('../images/texture.jpg');
}

#flip-book-window .close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  font-size: 16pt;
  color: #fff;
}

#flip-book-window .close:active {
  padding-top: 2px;
  padding-right:2px;
  font-size: 14pt;
}

#flip-book-window .modal-body {
  height: 100%;
}

#flip-book-window .modal-body .mount-node {
  width: 100%;
  height: 100%;
}

#flip-book-window .modal-body .mount-node.fullscreen {
  background-image: url('../images/texture.jpg');
}

/*.mount-node {
  width: 100%;
  height: 100%;
  background-color: red;
}*/

#flip-book-window .modal-dialog {
  width: 98%;
  height: 98%;
  margin: 0.5% auto;
}

.books {
  text-align: center;
}

.books .thumb {
  display: inline-block;
  padding: 3px;
  margin: 0 3px;
  max-width: 300px;
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #ddd;
  vertical-align: top;
}

.books .caption {
    margin-top: 5px;
}

.books img {
  height: 300px;
  padding: 0;
  margin: 0;
}

.books img:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.books h2 {
  text-align: left;
}

.video {
  padding-top: 20px;
}

.video .row {
  margin-bottom: 20px;
}

.video .wrap {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
}

.video .wrap iframe {
  border-width: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content {
  padding: 0 20px;
}

.sample-container {
  height: 85vh;
  background-color: #eee;
  border-radius: 5px;
  padding: 3px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.sample-container>div {
  height: 100%;
  width: 100%;
}

.source-link {
  padding-top: 20px;
  text-align: right;
}

.relative {
  position: relative;
}

.message {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

.copyright {
  padding: 10px;
  text-align: center;
}

.copyright .author {
  font-style: italic;
  font-weight: bold;
}

.copyright .sign {
  font-weight: bold;
}



.fb3d .wrap {
  display: inline-block;
  position: relative;
}

.fb3d .table {
  height: 100%;
  width: 100%;
  display: table;
}

.fb3d .cell {
  display: table-cell;
  vertical-align: middle;
}

.fb3d .play {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  text-align: center;
}

.fb3d .gif-preview {
  text-align: center;
}

.fb3d .shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: #000;
  /*background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
  background-repeat: repeat-x;*/
  opacity: 0.3;
}

.fb3d .play .pbtn {
  height: 100px;
  width: 100px;
  display: inline-block;
  border-radius: 50px;
  background-color: #222;
}

.fb3d .play .pbtn:hover {
  box-shadow: 0 0 20px #000;
  cursor: pointer;
}

.fb3d .play .pbtn:active {
  box-shadow: 0 0 10px #000;
}

.fb3d .play .pbtn::after {
  content: ' ';
  border: 25px solid transparent;
  border-left: 50px solid #EEE;
  display: inline-block;
  position: relative;
  top: 25px;
  left: 20px;
}

.fb3d .play .pbtn:hover::after {
  border-left: 50px solid #FFF;
}

/*Lightbox Effect*/

body::before {
  position: fixed;
  content: ' ';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;

  z-index: -10;
  opacity: 0;
  transition: opacity 0.5s, z-index 0.5s step-end;
}

.fb3d-modal-shadow::before {
  z-index: 10;
  opacity: 0.5;
  transition: opacity 0.5s;
}

.fb3d-modal {
  position: fixed;
  width: 95%;
  height: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5px #fff;

  z-index: -9;
  opacity: 0;
  transition: opacity 0.5s, z-index 0.5s step-end;
}

.fb3d-modal.visible {
  z-index: 11;
  opacity: 1;
  transition: opacity 0.5s;
}

.fb3d-modal::before {
  position: absolute;
  content: ' ';
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
}

.fb3d-modal.light::before {
  background-color: #fff;
}

.fb3d-modal.dark::before {
  background-color: #000;
}

.fb3d-modal .cmd-close {
  font-size: 16pt;
  color: #ccc;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
}

.fb3d-modal.light .cmd-close {
  color: #555;
}

.fb3d-modal .mount-container {
  width: 100%;
  height: 100%;
}

.fb3d-modal .cmd-close:hover {
  font-size: 16pt;
  color: #eee;
}

.fb3d-modal.light .cmd-close:hover {
  color: #111;
}

.fb3d-modal .cmd-close:active {
  font-size: 14pt;
  padding-top: 2px;
  padding-right: 2px;
}

.light .mount-container.fullscreen {
  background-image: url('../images/inverse-texture.jpg');
}

.dark .mount-container.fullscreen {
  background-image: url('../images/texture.jpg');
}